<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../../assets//Rohit1.jpg" alt="Chicago" style="width:100%;height:450px;">
                <div class="carousel-caption">
                    <h3>INDIA Vs ENGLAND(2019 World Cup)</h3>
                    <p>Rohit Sharma's Third century against England in ICC World Cup 2019.</p>
                </div>
            </div>
            
            <div class="item">
                <img src="../../assets/Rohit2.jpg" alt="New York" style="width:100%;height:450px;">
                <div class="carousel-caption">
                    <h3>INDIA Vs PAKISTAN(2019 World Cup)</h3>
                    <p>Rohit Sharma's Second century against Pakistan in ICC World Cup 2019.</p>
                </div>
            </div>

            <div class="item">
                <img src="../../assets/Rohit3.jpg" alt="New York" style="width:100%;height:450px;">
                <div class="carousel-caption">
                    <h3>INDIA Vs BANGLADESH(2019 World Cup)</h3>
                    <p>Rohit Sharma's Fourth century against Bangladesh in ICC World Cup 2019.</p>
                </div>
            </div>

            <div class="item">
                <img src="../../assets/Rohit4.jpg" alt="New York" style="width:100%;height:450px;">
                <div class="carousel-caption">
                    <h3>INDIA Vs SRILANKA(2019 World Cup)</h3>
                    <p>Rohit Sharma's Fifth century against Sri Lanka in ICC World Cup 2019.</p>
                </div>
            </div>

            <div class="item">
                <img src="../../assets/Rohit5.jpg" alt="New York" style="width:100%;height:450px;">
                <div class="carousel-caption">
                    <h3>INDIA Vs SOUTH AFRICA(2019 World Cup)</h3>
                    <p>Rohit Sharma's First century against South Africa in ICC World Cup 2019.</p>
                </div>
            </div>
        
        
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>