<div class="container">
    <div class="card">
        <div class="card-header">
            <img src="../../assets/login.jpg" alt="Login Avatar" class="img-responsive">
        </div>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="fnLogin()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Login">
                    <input type="button" class="btn btn-primary" value="Registration" (click)="Register()">
                </div>
            </form> 
        </div>      
    </div>
</div>
