<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Rajesh</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="['about']">About</a>
        <a mat-button [routerLink]="['country']">Country</a>
        <a mat-button (click)="logout()">Logout</a>
      </div>
    </mat-toolbar-row>
</mat-toolbar> 
  <router-outlet></router-outlet>
<footer>
    <div>
      <h4>&copy; Rights to me</h4>
    </div>
</footer> 