<div class="container">
  <div class="card">
      <div class="card-header">
          <nav class="navbar navbar-expand-sm bg-light justify-content-end">
              <!-- Links -->
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/registration']">Signup</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
              </ul>
            </nav>
      </div>

      <!--  Information -->
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
